<!--index投稿一覧画面、new投稿画面、/books-->

<h1>Books</h1>
<% @books.each do |book| %>

<!--tdタグで囲う-->

  <p>本のタイトル</p>
  <span><%= book.title %></span>
  
  <p>感想</p>
  <span><%= book.body %></span>
  
  <!--show、投稿一覧表示-->
   <span>
    <%= link_to "Show",book_path(book) %>
  </span>
  <!--edit、投稿一編集画面-->
   <span>
    <%= link_to "Edit",edit_book_path(book) %>
  </span>
  
  <!--destroy-->
   <span>
    <%= link_to "Destroy",destroy_books_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <!--destroy_　がいらない？-->
    <!--そもそもdestroy_books_path(@book.id)がいらない？-->
    <!--viewページ、遷移なし。削除機能だけ。-->
  </span>
  
 <% end %> 

<%= form_with model: @book do |f| %>
<h1>New Book</h1>

<h4>title</h4>
<%= f.text_field:title %>

<h4>body</h4>
<%= f.text_area:body %>

<%= f.submit 'Create Book' %>

<% end %>
  <!--form_with投稿フォームnew-->

  <!--投稿した後は投稿詳細画面（show）に飛ぶ-->
  

